.Rproj.user
.Rhistory
.RData
.Ruserdata
figures/
output/*.rds
output/suppl/
output/matrix
output/logs
output/plots
_book/
.snakemake
.cache
scripts/.snakemake*
scripts/preprocess/.snakemake*
render*
bookdown*
*.simg
packages.bib
*.log
*.md
_bookdown_files
