.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode
.dropbox
figures/
output/*.rds
output/suppl/
output/matrix
output/logs
output/plots
output/tmp
_book/
.snakemake
.cache
.snakemake*
render*
bookdown*
*.simg
packages.bib
*.log
*.md
_bookdown_files
__pycache__
*Rproj
output/downloading_suppfiles_*.done
